<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ReadData</servlet-name>
  	<display-name>ReadData</display-name>
  	<description></description>
  	<servlet-class>ReadData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TopValue</servlet-name>
  	<display-name>TopValue</display-name>
  	<description></description>
  	<servlet-class>TopValue</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReadData</servlet-name>
  	<url-pattern>/ReadData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TopValue</servlet-name>
  	<url-pattern>/TopValue</url-pattern>
  </servlet-mapping>
</web-app>
